#h1{
    color: red;
    text-align: center;
    background-color: darkblue;
    padding: 20px;
    margin: 10px;
}
#hd{
    color: greenyellow;

}
#pic {
    color: orangered;
}

#image{
    margin-left: 30%;
}
#select {
    color: darkred;
    margin-left: 20%;
}
.option {
color: red;
margin-left: 30%;
}