body {
    background-image: url(https://miro.medium.com/max/1400/1*xMuIOwjliGUPjkzukeWKfw.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#agency{
    color: chartreuse;
    text-align: center;
}
#title {
    color: red;
    text-align: center;
}
#ask {
    color: darkorange;
    background-color: darkolivegreen;
    padding: 5px;
    margin-left: 10%;
}
.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;}
.column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    text-align: center;
    
}
.tour{
    color:yellow;
    margin: 20%;
    /* justify-content: */
}
#container{
    width:700px;
    margin: auto;
    text-align: center;
}
 .row{
    content: "";
    display: table;
    clear: both;} 
p {
    color: red;
}
*{
    box-sizing: border-box;

}
.date {
    color: darkmagenta;
    text-align: center;
    
}
#btn{
    
    text-align: center;
}
